/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.env.codecept

tests/_output/*
tests/_support/_generated/*

.DS_Store
*/.DS_Store
storage/*

!storage/app/modules.json
config/categories/*
!config/categories/Lelong-MY.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
