#categories {
	height:100px;
	margin-bottom: 10px;
}
.handsontable .wtHolder, .wtHider, .htCore {
	width: inherit!important;
}

.table-wrapper {
	overflow:hidden;
}

#bulk-update-table {
	table-layout: fixed!important;
}

.htDimmed {
	white-space: nowrap!important;
}